<div  class="add-county-form">
    <div class="countries-list container-fluid text-center" ng-controller = "countryController">
        <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 add-country" >
    <form action="#" autocomplete="off" >
        <h2>Add country</h2>
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title</label>
            <div class="col-sm-10">
            <input id="title" type="text" name="title"  ng-model="title" required />
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="language">Language</label>
            <div class="col-sm-10">
            <input id="language" type="text" name="language"  ng-model="language" required />
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="image">Image</label>
            <div class="col-sm-10">
                <input id="image" type="text" name="image"  ng-model="image" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="population">Population</label>
            <div class="col-sm-10">
            <input id="population" type="text" name="population"  ng-model="population" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="area">Area</label>
            <div class="col-sm-10">
            <input id="area" type="text" name="area"  ng-model="area" required>
            </div>


        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="religion">Religion</label>
            <div class="col-sm-10">
            <input id="religion" type="text" name="religion"  ng-model="religion" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="climate">Climate</label>
            <div class="col-sm-10">
            <textarea id="climate" type="text" name="climate"  ng-model="climate" required></textarea>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="economy">Economy</label>
            <div class="col-sm-10">
                <textarea id="economy" type="text" name="economy"  ng-model="economy" required></textarea>
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="culture">Culture</label>
            <div class="col-sm-10">
                <textarea id="culture" type="text" name="culture"  ng-model="culture" required></textarea>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="economy">Cuisine</label>
            <div class="col-sm-10">
                <textarea id="cuisine" type="text" name="cuisine"  ng-model="cuisine" required></textarea>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default"  ng-click="add()">Submit</button>
            </div>
        </div>
        <p ng-show="noCountry">This country has been already added.</p>
    </form>
    </div>
    <div class="col-sm-2"></div>
</div>
    </div></div>