<div class="countries-list container-fluid text-center" ng-controller = "countryController" ng-init = "getCountry()">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <div class="country-info">
                    <h1>{{country.title}}</h1>
                        <div class="info">
                            <h3>Language: {{country.language}}</h3>
                            <h3>Religion {{country.religion}}</h3>
                            <h3>Area {{country.area}}</h3>
                            <h3>Population: {{country.population}}</h3>
                        </div>

                        <h3>Culture</h3>
                        <p>{{country.culture}}</p>
                        <h3>Economy</h3>
                         <p>{{country.economy}}</p>
                        <h3>Cuisine</h3>
                       <p>{{country.cuisine}}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default"  ng-click="delete()">Submit</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default"  ng-click="update()">Submit</button>
                </div>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
</div>
