<div  class="singin-form" ng-controller="mainController" >
    <form action="#" autocomplete="off" >
        <h2>Sing in</h2>
        <fieldset>
            <input id="first" type="text" name="login" placeholder="Login"  ng-model="login" required />
        </fieldset>
        <fieldset>
            <input id="last" type="password" name="password"  ng-model="password" placeholder="Password" required />
        </fieldset>
        <fieldset>
            <button type="button" class="btn btn-success" ng-click="singin()">Login</button>
        </fieldset>
        <p ng-show="noUser">Incorrect login or password.</p>
        <p>If you don't have an account you can <a href="#singup">Sing Up</a></p>
    </form>
</div>